.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.grid-title-container{
    position: relative;
}

.grid-post-container{
    position: relative;
    cursor: pointer;
}

.grid-post-container:hover .overlay{
    opacity: 1;
}

.art-grid{
    column-count: 5;
}

.post-image{
    max-height: 70%;
    margin-top: -30vh;
}

.post-image-box{
    height: 100vh;
}

.post-description{
    margin-top: -30vh
}

.form-image{
    width: 16vw;
    height: auto;
}

.edit-post-div{
    margin-top: 5%;
}