{block content}

<div class="art-grid">
    <div n:foreach="$posts as $post">
        <div class="grid-item">
            <a n:href="Post:show $post->id">

                <h5 class="title">{$post->title}</h5>
                <img src="{$basePath}/upload/{$post->image}" class="grid-item-image">

            </a>
        </div>
    </div>
</div>